*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-blackish: #08060bbb;
    --color-white: #FFFFFF; 
    --color-gray:#C4C4C4;

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}



/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header  */
header {
    display: flex;
    justify-content: center;

    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), 
    url(../images/cv.jpg);

    width: 100%;
    height: auto;

    }

    /* nav container opmaak */
    nav {
        height: 35em;
        max-width: 1200px;

       
    }

    /* logo opmaak*/
    h1 {
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        font-size: 1.2em;
        color: var(--color-basic);
    }

    /* opmaak navigatie "home, over ons etc" */
    nav ul {
        display: flex;
    }
        /* stijling van "home, over ons etc" */
        nav ul li {
            font-family: var(--h2-fontfamily);
            list-style: none;
        }
            /* link stijling */
            nav ul li a {
                text-decoration: none;
                color: var(--color-black);
                padding: .6em;
            }




/* ************************************* UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}
    /* hover kleur op tekst */
    nav ul li a:hover {
        color: var(--color-lightPink);
    }
    /* stroke plaatsing */
    nav ul li a {
        position: relative;
    }
    /* stroke stijling */
    nav ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;

        content: '.';
        color: transparent;
        background: var(--color-lightPink);
        height: .1em;
    }
    /* stoke length */
    nav ul li a:hover:after {
        width: 100%;
    }




/* ************************************* HAMBURGER MENU OPMAAK */

