*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-black: black;
    --color-blackish: #08060bbb;
    --color-white: #FFFFFF; 
    --color-gray:#C4C4C4;

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}



/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header container opmaak */
header {
    background-image: 
    linear-gradient( rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5) ), 
    url(../images/cv.jpg);

    background-color: var(--color-white); /* fallback color */
    background-repeat: no-repeat;

    width: 100%;
}

 /* side container opmaak */
 header nav {
    max-width: 100%;
    height: 35em;
    background-color: rgb(255 255 255 / 65%);
    width: 30em;
}

/* nav container opmaak */
header nav .side-container {
    position: relative;
    top: 5em;
    left: 5em;
    width: 70%;
}

/* logo opmaak in header*/
header nav h1 {
    font-family: var(--h1-fontfamily);
    font-weight: 400;
    font-size: 1.8em;
    margin-bottom: .3em;
    
    width: 50%;
}

/* tussen tekst opmaak in header*/
header nav p {
    font-family: var(--h2-fontfamily);
    font-weight: 200;
    font-size: .8em;
    margin-bottom: 3em;
}

/* opmaak navigatie "home, over ons etc" */
nav ol {
    list-style: none;
    font-family: var(--h2-fontfamily);
}

/* stijling van "home, over ons etc" */
nav ol li {
    margin-bottom: 1.5em;
}

/* link stijling */
nav ol li a {
    font-weight: 200;
    text-decoration: none;
    color: var(--color-black);
}



/* ************************************* UNDERLINE EFFECT:HOVER */
/* hover transition */
nav ol li a,
nav ol li a:after {
    transition: all .5s;
}

/* hover kleur op tekst */
nav ol li a:hover {
    color: rgb(99, 140, 135);
}

/* stoke length */
nav ol li a:hover:after {
    width: 100%;
}

/* stroke plaatsing */
nav ol li a {
    position: relative;
}

/* stroke stijling */
nav ol li a:after {
    position: absolute;
    top: 1.5em;    /* ruimte tussen stroke en tekst */
    bottom: 0;
    left: 0;
    right: 0;
   
    margin: auto;
    width: 0%;

    content:'';
    height: .1em;
    color: transparent;
    background: rgb(99, 140, 135);
}




/* stroke tussen nav en socials: stijling onder navigatie */
nav ol :after {
    position: absolute;
    top: 23em;    /* ruimte tussen stroke en tekst */
    left: 0;
    right: 0;
   
    content:'';
    height: .1em;
    color: transparent;
    background: rgb(99, 140, 135);
}




/* ************************************* SOCIALS */
.socials ul{
    height: 0;
    width: 50%;
}

/* plaatsing socials */
.socials ul li{
    position: relative;
    left: 10.5em;
    bottom: 4.5em; 
    
    list-style: none;

}

/* ruimte tussen icons */
.socials ul a {
    margin-left: .5em;
    width: 20%;
}

/* icon grote */
.socials ul img{
    width: 1.3em;
}





/* ************************************************** */
/* ************************************ INTRO OPMAAK */
/* ************************************************** */

/* stijling container "introductie */
.container-introductie {
    position: relative;
    top: -22em;
    left: 38em;
    right: 0;

    width: 30%;

    height: 0;
    color: white;
}

.introductie-wrapper{
    padding: 2em;
}

.container-introductie h2 {
    font-family: var(--h1-fontfamily);
    font-weight: 450;
}

.container-introductie h3 {
    font-family: var(--h2-fontfamily);
    font-weight: 200;
    font-size: 1em;
}





/* ************************************************** */
/* ******************************* OPMAAK "OVER ONS"" */
/* ************************************************** */

/* opmaak container */
.container-over {
    display: flex;
}

/* plaatsing van inhoud */
.over-ons {
    font-size: .9em;
    width: 66.5%;
    margin: auto;
    padding: 7em 0 5em;
}

/* opmaak h2 */
.container-over .over-ons h2 {
    font-size: 2em;
    font-family: var(--h1-fontfamily);
    color: var(--color-basic);
}

/* opmaak h5 */
.container-over .over-ons h5 {
    font-size: 1.1em;
    padding-top: .5em;
    color: var(--color-lightPink);
    font-family: var(--h1-fontfamily);
}

/* opmaak p */
.over-ons p {
    padding-top: 1em;
    width: 50%;
    font-family: var(--h1-fontfamily);
    text-align: justify;
}



