*,
*::after,
*::before {
    /* box-sizing: inherit; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ************************************************** */
/* ******************************* CUSTOM PROPERTIES */
/* ************************************************** */

:root {
    /* color */
    --color-black: #08060bbb;
    --color-creme: #F0E7E2;
    --color-grayish: #aaa;
    --color-white: #ffffff;
    --color-lightPink:rgb(179, 116, 116);
    --color-basic: rgb(56, 40, 40); 

    /* fontfamily */
    --h1-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --h2-fontfamily: 'Open Sans', sans-serif;
}





/* ************************************************** */
/* ************************** OPMAAK VAN EXTRA HEADER */
/* ************************************************** */

/* container hele extra header*/
.extra-header {
    display: flex;
    justify-content: center;  
    background-color: var(--color-creme);
    }

    /* container in extra header*/
    .container-extra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.3em;

        max-width: 1200px !important;
        width: 100%;
    }

    /* ruimte tussen tel en email in de extra header */
    .extra-header ul {
        display: flex;
        gap: 2em;
        padding: 0;
    }

    /* li styling en plaatsing */
    .extra-header ul li {
        display: flex;
        align-items: center;
        gap: .5em;
        font-family: var(--h2-fontfamily);
    }

    /* a styling opmaak */
    .extra-header li a {
        font-size: 0.8em;
        text-decoration: none;
        color: var(--color-black);
    }

    /* grote van img */
    .extra-header ul img {
        width: 1.2em;
    }





/* ************************************************** */
/* ************************************ HEADER OPMAAK */
/* ************************************************** */

/* header sticky */
header {
    position: sticky;
    top: 0;
    height: 5em;
    width: 100%;
    background-color: var(--color-white);
    
    transition: .32s;
    z-index: 2;

    display: flex;
    justify-content: center;
    }

    /* nav container opmaak */
    nav {
        display: flex;
        align-items: center;
        gap: 45em;
        /* height: 5em; */

        max-width: 1200px;
        width: 100%;
          /* padding: 0em 9.5vmax; */
    }

    /* logo opmaak*/
    h1 {
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        font-size: 1.2em;
        color: var(--color-basic);
    }

    /* opmaak navigatie "home, over ons etc" */
    nav ul {
        display: flex;
    }
        /* stijling van "home, over ons etc" */
        nav ul li {
            font-family: var(--h2-fontfamily);
            list-style: none;
        }
            /* link stijling */
            nav ul li a {
                text-decoration: none;
                color: var(--color-black);
                padding: .6em;
            }




/* ************************************* UNDERLINE EFFECT:HOVER */

/* hover transition */
nav ul li a,
nav ul li a:after {
    transition: all .5s;
}
    /* hover kleur op tekst */
    nav ul li a:hover {
        color: var(--color-lightPink);
    }
    /* stroke plaatsing */
    nav ul li a {
        position: relative;
    }
    /* stroke stijling */
    nav ul li a:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;

        content: '.';
        color: transparent;
        background: var(--color-lightPink);
        height: .1em;
    }
    /* stoke length */
    nav ul li a:hover:after {
        width: 100%;
    }




/* ************************************* HAMBURGER MENU OPMAAK */

/* hamburger icon opmaak */
.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 3.5em;
}

.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}

.line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 2;
    stroke-linecap: round;
}

.ham1 .top {
    stroke-dasharray: 40 139;
}
.ham1 .bottom {
    stroke-dasharray: 40 180;
}
.ham1.active .top {
    stroke-dashoffset: -98px;
}
.ham1.active .bottom {
    stroke-dashoffset: -138px;
}

/* display hamburger menu niet zichtbaar */
header svg {
    display: none;
    }


   



/* ************************************************** */
/* ******************************** OPMAAK HOME IMAGE */
/* ************************************************** */


/* stijling van container image */
.container-intro {
    position: relative;
    height: 30vmax;
    overflow: hidden;
    }

    /* image stijling */
    .container-intro .intro-wrapper img {
        position: absolute;
        height: 50vmax;
        top: -2em;
    }

    /* container stijling */
    .introductie {
        display: flex;
        justify-content: center;  
        /* height: 26vmax; */
        padding: 5em 0 0;
    }

    .introductie .wrapper{
        max-width: 1200px !important;
        width: 100%;
    }

    /* h2 tekst opmaak */
    .introductie h2 {
        font-family: var(--h1-fontfamily);
        font-weight: 4;
        font-size: 6em;
        line-height: 1em;
        color: rgb(56, 40, 40);

        position: relative;
        z-index: 1;

        animation: 2.7s ease-out 0s 1 slideInFromLeft-2;
    }

    /* h3 tekst opmaak */
    .introductie h3 {
        font-family: var(--h1-fontfamily);
        font-weight: 400;
        line-height: 4em;
        color: rgb(77, 53, 53);

        position: relative;
        z-index: 1;

        animation: 2.9s ease-out 0s 1 slideInFromLeft-2;
    }

    /* slide in voor tekst */
    @keyframes slideInFromLeft-2 {
        0% {
            transform: translateX(-100%);
            z-index: 1;
        }

        100% {
            transform: translateX(0);
            z-index: 1;
        }
    }



/* ************************************* SHAPE OPMAAK */

/* container shape opmaak */
.shape {
    position: relative;
    }

    .shape::after {
        content: '';
        position: absolute;
        bottom: -250em;
        height: 260em;
        transform: skew(0deg, 75deg);
        background: rgba(203, 196, 196, 0.767);

        animation: 1.5s ease-out 0s slideInFromLeft;
        width: 100%;
    }

    /* slide in voor shape */
    @keyframes slideInFromLeft {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: skew(0deg, 75deg);
        }
    }





/* ************************************************** */
/* ************************************ OPMAAK SKILLS */
/* ************************************************** */

/* container opmaak */
.container-skills .sub-container {
    display: flex;
    justify-content: center;
    height: 2em;
    position: relative;
    top: -14em;
    max-height: 1200px;
    width: 100%;
    }

    /* ruimte tussen de andere containers */
    .container-skills .sub-box {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 3em;
    }

    /* box opmaak van skills */
    .columns-container {
        background-color: #e46c1c00;
        border-radius: .5em;
        transition: 1s;
        box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
    }

    /* grote van box*/
    .container-skills div div div div {
        padding: 2em;
    }

    /* grote van icon */
    .columns-container img {
        width: 5em;
    }

    /* svg opmaak */
    .container-skills .skills-wrapper svg:nth-of-type(2) {
        position: relative;
        top: -21vw;
    }

    /* h3 afmetingen */
    .container-skills div div div div h3 {
        padding: .3em;
        margin: 0;
    }

    /* h3 opmaak */
    .content-container .container-skills h3 {
        font-size: 1.1em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
    }

    /* h4 opmaak */
    .content-container .container-skills p {
        font-weight: 350;
        font-family: var(--h1-fontfamily);
    }





/* ************************************************** */
/* ******************************* OPMAAK "OVER ONS"" */
/* ************************************************** */

/* container grote */
.over-ons {
    max-width: 1200px;
 }

    /* opmaak container */
    .container-over {
        display: flex;
        justify-content: center;
        padding: 10em 0em 10em;
        background-color: var(--color-creme);
    }

    /* opmaak h2 */
    .container-over .over-ons h2 {
        font-size: 2.5em;
        font-family: var(--h1-fontfamily);
        color: var(--color-basic);
    }

    /* opmaak h5 */
    .container-over .over-ons h5 {
        padding-top: .5em;
        color:  var(--color-lightPink);
        font-size: 1.3em;
        font-family: var(--h1-fontfamily);
    }

    /* opmaak p */
    .over-ons p {
        font-family: var(--h1-fontfamily);
        padding-top: 1em;

        columns: 2;
        column-gap: 3.5em;
        text-align: justify;
    }




/* ************************************************** */
/* ********************************** OPMAAK "SCROLL" */
/* ************************************************** */

.parallax {
    background-image: url(../images/spa2.jpg);
    min-height: 30em;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}





/* ************************************************** */
/* ******************************* OPMAAK " DIENSTEN" */
/* ************************************************** */

.container-diensten {
    display: flex;
    justify-content: center;
    padding: 10em 0em 10em;
    background-color: var(--color-creme);
}

    /* max width */
    .diensten {
        max-width: 1200px;
    }

    /* stijling h2 */
    .container-diensten .diensten h2 {
        font-size: 2.5em;
        font-family: var(--h1-fontfamily);
        color: var(--color-basic);
    }
    /* stijling h5 */
    .container-diensten .diensten h5 {
        padding-top: .5em;
        color: var(--color-lightPink);
        font-size: 1.3em;
        font-family: var(--h1-fontfamily);
    }
    /* stijling p */
    .container-diensten .diensten article p {
        font-family: var(--h1-fontfamily);
        padding-top: 1em;
        text-align: justify;
    }

    /* tekst container opmaak */
    .container-diensten article {
        display: flex;
        padding-bottom: 2em;
        gap: 3.5em;
    }

    /* img opmaak */
    .container-diensten article img {
        width: 50%;
        height: 100%;
    }


    /* box waar de diensten in zit */
    .container-diensten .diensten-box {
        display: flex;
        justify-content: space-between;
        gap: 2em;
    }

    /* box opmaak en ruimte */
    .container-diensten .diensten-container {
        padding: 4em;
        border-radius: .5em;
        text-align: center;
        background-color: var(--color-white);

        box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
    }


    /* h3 opmaak */
    .container-diensten .diensten-container h3 {
        font-size: 1.3em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
        transition: 1s ease-in-out;
    }

    /* animatie */
    .container-diensten .diensten-container:hover h3 {
        transition: 1s ease-in-out;
        color: #dfbeb3;
    }





/* ************************************************** */
/* ******************************* OPMAAK "SIDE TEXT" */
/* ************************************************** */

/* container opmaak */
.container-sideText {
    width: 100%;
 }
    /* padding in container*/
   .side-wrapper .wrapper {
        display: flex;
        justify-content: center;
        padding: 0em 12em 0em;
    }

    .sideText{
        display: block;
        columns: 2;
        column-gap: 3.5em;
        column-rule-style: solid;
        column-rule-width: 4px;
        column-rule-color: rgb(185, 127, 136);

        max-width: 1200px;
    }
   
    /* h5 opmaak */
    .container-sideText .sideText h5 {
        padding-bottom: 0.1em;
        font-size: 3em;
        color: var(--color-lightPink);
        font-family: var(--h1-fontfamily);
    }

    /* p opmaak */
    .sideText p {
        font-family: var(--h1-fontfamily);
        font-size: 15px;
        text-align: justify;
    }




    
/* ************************************************** */
/* ******************************* OPMAAK " CAROUSEL" */
/* ************************************************** */

/* comtainer opmaak */
.carousel-container {
    padding: 0 20%;
    width: 100%;
    position: relative;
    top: -1em;
    background-color: var(--color-creme);
}

.carousel .owl-carousel{
    max-width: 1200px;
    
}



/* opmaak card */
.carousel .card {
    background: var(--color-lightPink);
    border-radius: .3em;
    padding: .2em;
    animation-delay: 2s;
  
}

/* img grote */
.carousel .card img {
    border-radius: .5em;
}

/* button plaatsing*/
.owl-dots {
    text-align: center;

}

/* opmaak button */
.owl-dot {
    height: .3em;
    width: 3em;
    margin: .2em;
    border-radius: 1em;
    text-align: center;

    border: .1em solid white !important;
    transition: all 0.3s ease-in;
  
}

/* button kleur hover */
.owl-dot.active,
.owl-dot:hover {
    background: var(--color-lightPink) !important;
}






/* ************************************************** */
/* ******************************* OPMAAK " CONTACT " */
/* ************************************************** */

.container-max {
    display: flex;
    justify-content: center;
    }

/* svg opmaak boven "neem contact" */
.contact-container .svg-wrapper svg {
    position: relative;
    top: -1em;
    }

    /* container opmaak */
    .contact-us {
        max-width: 1200px;
        position: relative;
        top: -4em;
        height: 100%;
        padding: 0em 7em 8em;
    }

    /* h2 opmaak */
    .contact-us h2 {
        font-size: 2.5em;
        font-family: var(--h1-fontfamily);
        color: var(--color-lightPink);
        padding-bottom: .2em;
    }

    /* p opmaak */
    .contact-us p {
        /* padding-right: 11em; */
        font-family: var(--h2-fontfamily);
        padding-bottom: 2em;
    }

    /* opmaak tekst */
    .contact-us .column1 {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 0em 5em 1em;
    }

    /* opmaak contact form */
    .contact-us .column2 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    /* opmaak grote form */
    .contact-us .column2 form {
        width: 30%;
    }




/* ************************************* GOOGLE MAP OPMAAK */

.contact-us input,
.contact-us textarea {
    background: #fafafa;
}

.contact-us input[type=text],
select,
textarea {
    width: 100%;
    padding: 0.9em;
    border: 0.8px solid #e9e3e3;
    border-radius: 0.2em;
    box-sizing: border-box;
    margin-top: 0.5em;
    margin-bottom: 1em;
    box-shadow: -10px 20px 20px 10px rgba(100, 55, 55, 0.271);
}

/* Style the submit button with a specific background color etc */
.contact-us input[type=submit] {
    background-color: rgb(185, 127, 136);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.contact-us input[type=submit]:hover {
    background-color: #45a049;
}

/* google map */
#map {
    top: -2em;
    height: 27em;
    width: 50%;
    z-index: 1;
    border-radius: .4em;
}





/* ************************************************** */
/* ******************************** OPMAAK " FOOTER " */
/* ************************************************** */

/* plaatsing container */
.footer-container {
    display: flex;
    justify-content: center;
    padding: 2.5em 0em 2em;
    background-color: var(--color-creme);
    }

    .footer-wrapper{
        max-width: 1200px;
    }

    /* opmaak container */
    .footer-container .row-footer {
        display: flex;
        align-items: baseline;
        gap: 10em;
    }

    /* h3 opmaak */
    .footer-container h3 {
        margin-bottom: .8em;
        font-weight: bold;
        font-size: 16px;
        font-family: var(--h1-fontfamily);
        color: var(--color-basic);
    }

    .footer-container p {
        font-family: var(--h2-fontfamily);
    }


    .footer-container ul {
        padding: 0;
        list-style: none;
        line-height: 1.6;
        font-size: 14px;
        margin-bottom: 1em;
    }

    /* made  by */
    .footer-container ul a {
        padding: .5em;
        color: inherit;
        text-decoration: none;
        opacity: 0.6;
        font-family: var(--h2-fontfamily);
    }

    .footer-container ul a:hover {
        opacity: 0.8;
    }





@media (max-width:767px) {
    .footer-container .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-container.item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-container .item.text {
        margin-bottom: 0;
    }
}

.footer-container .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-container .col-item-social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-container .col-item-social {
        text-align: center;
        margin-top: 20px;
    }
}


.footer-container .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.footer-social img {
    width: 1.2em;
}



/* ************************************************** */
/* ******************************** OPMAAK " @MEDIA " */
/* ************************************************** */

@media screen and (max-width: 1000px) {

    /* size grote van "extra header" box */
    .extra-header ul li {
        font-size: .6em;
    }
    .extra-header ul {
        gap: .7em;
    }
    /* size grote icon's "extra header" */
    .extra-header ul img {
        width: 1.8em;
    }
    /* ruimte tussen container */
    .container-extra {
        padding: .5em 2.5em .5em;
    }
    /* plaatsing van logo bij hamburger menu */
    nav {
        padding: 0em 2.5em;
    }
    /* icon zichtbaar "ham"*/
    header svg {
        display: block;
        position: absolute;
        right: 1em;
        z-index: 1;
    }
    /* icon "open" opmaak */
    nav ul {    
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        top: 0em;
        height: 35vmax;
        background: var(--color-creme);

        transition: all 3s linear;
    }
    /* opmaak tekst in hamburger */
    nav li {
        position: relative;
        top: 2em;
        padding: 3vmax 4vmax 0vmax;
        font-size: 2vmax;
    }
    /* intro opmaak */
    .introductie {
        padding: 3.5em 2.5em 0em;
    }
    /* container van skills */
    .container-skills .sub-container {
        top: -5.5em;
    }
    .container-skills div div div div {
        padding: 0em;
        margin-bottom: 1.5em;
    }
    .container-skills .sub-container div:first-of-type {
        padding: .5em;
    }

    .container-skills .sub-container {
        height: 30em;
    } 

    .container-over {
        padding: 5em 3.5em 5em;
    }
    .container-diensten {
        padding: 5em 3.5em 5em;
    }
    .container-diensten .diensten-container {
        margin-bottom: 2em;
    }
    .sideText {
        columns: 1;
        padding: 0em 3.5em 5em;
    }
    .contact-us {
        height: 100%;
        padding: 3em 3.5em 0em;
    }
    .footer-container {
        padding: 2.5em 3.5em 1em;
    }
    





    
    






    /* in a tekst stijling */
    .header-top ul li a {
        font-size: .7em;
    }

    /* in a tekst stijling */
    .header-top ul li a {
        font-size: .7em;
    }

    nav ul {
        font-size: .8em;
    }


    .introductie h2 {
        font-size: 7vmin;
    }

    .introductie h3 {
        font-size: 1.4vmin;
    }

    /* skills komen onder elkaar */
    .container-skills .sub-box{
        display: block;
    }
    

/*     
    .container-skills div div div div {
        padding: 1em;
    }  */


    .over-ons p {
        columns: 1;
    }


    .container-sideText .column {
        padding: 3em 5em 0em;
    }

    .sideText p {
        font-size: 1em;
    }

     /* img niet zichtbaar */
     .container-diensten article img {
        display: none;
    }

       /* box waar de diensten in zit */
       .container-diensten .diensten-box {
        display:block;
    }

    /* padding in container*/
    .sideText {
        display: block;
    }

    /* opmaak tekst */
   .contact-us .column1 {
        padding: 0;
    }

    .contact-us .column2 form {
        width: 100%;
    }

    .contact-us .column2 {
        display: block;
    }

    /* google kaart */
    #map {
       display: none;
    }

    .footer-container .row-footer {
        display: block;
    }

    .container-intro .intro-wrapper img {
        height: 46vmax;
    }

    .container-intro {
        height: 20vmax;
    }
}